<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">DniproTV</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/operatori">Операторы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/jurnalisti">Журналисты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/montageri">Монтажеры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/admin">Adminka</a>
                </li>

            </ul>
        </div>
    </div>
</nav>