<h1>Залить видео</h1>
<form action="/admin/sliv/upload" method="post"  >
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" name="title" id="title" placeholder="Название сьемки">
        </div>
        <div class="form-group col-md-4">
        <input type="date" class="form-control" name="data" id="data" placeholder="Дата">
        </div>
        <div class="form-group col-md-6">
            <input type="text" class="form-control" name="oper" id="oper" placeholder="Кто снимал">
        </div>

        <div class="form-group col-md-4">
            <input type="text" class="form-control" name="jur" id="jur" placeholder="С кем снимал">
        </div>
       <!--
       <div class="form-group col-md-6">
            <input type="time" class="form-control" name="timecode" id="timecode" placeholder="Продолжительность">
        </div>
        -->
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>