<div class="col-lg-10 mx-auto">
    <h1 class="text-uppercase">
        <strong>Пришел, запишись!</strong>
    </h1>
    <hr>
</div>
<div class="col-lg-8 mx-auto">
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="/sliv">Слив</a>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="/sborka">Сборка</a>
</div>