<div class="col-lg-10 mx-auto">
    <h1 class="text-uppercase">
        <strong>Тут будет слив для операторов
        </strong>
    </h1>
</div>
<div class="clearfix">

            <form class="form-inline" action="/action/sliv" method="post" enctype="multipart/form-data">
                <div class="form-group">

                    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Название сьемки">
                </div>

                <select class="form-control">
                    <option>Кто снимал?</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <select class="form-control">
                    <option>С кем снимал?</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>

                    <input type="date" class="form-control" name="bday">


                <button type="submit" class="btn btn-default">Записать</button>
            </form>


</div>




